<div class="productsWrapper">
    <h1 class="heading">Instructions</h1>
    <div class="informativeText">
        <p>You are shopping for a smartphone in a web store. You are looking for the best possible smartphone to purchase for yourself.</p>

        <p>After you have decided which smartphone you think is the best one to purchase, click “Purchase” to select and purchase the given smartphone. After you have purchased the smartphone, a new task will appear on the screen.</p>

        <p>When you have completed all tasks it will be informed to you so on the screen. At that moment you can quit the experiment.</p>
    </div>
    <div class="text-center">
        <button type="button" ui-sref="task({taskNumber: -1})" class="btn btn-primary continueButton">Continue</button>
    </div>
</div>
